@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
    .button {
        @apply px-4 py-2 text-white rounded shadow;
    }

    .button-success {
        @apply px-4 py-2 text-white rounded shadow bg-green-600 font-semibold;
    }

    .button-success:hover {
        @apply bg-green-900
    }

    .button-danger {
        @apply px-4 py-2 text-white rounded shadow bg-red-600 font-semibold;
    }

    .button-danger:hover {
        @apply bg-red-900
    }

    .button-primary {
        @apply px-4 py-2 text-white rounded shadow bg-blue-600 font-semibold;
    }

    .button-primary:hover {
        @apply bg-blue-900
    }

    .judo-green {
        color: #48962b;
    }

    .bg-judo-green {
        background-color: #48962b;
    }

    .button-judo {
        @apply px-4 py-2 text-white rounded shadow font-semibold cursor-pointer;
        background-color: #48962b;
    }

    .button-judo:hover {
        background-color: #2e5b1b;
    }

    tr:nth-child(even)
    {
        background-color: #f6f6f6;
    }
}
